[Unit]
Description=Telegram Test Bot
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/xizmatlar/mvp
Environment="PATH=/usr/bin:/usr/local/bin"
ExecStart=/usr/bin/python3 /home/ubuntu/xizmatlar/mvp/bot.py
Restart=always
RestartSec=10
StandardOutput=append:/home/ubuntu/xizmatlar/mvp/bot.log
StandardError=append:/home/ubuntu/xizmatlar/mvp/bot.log

[Install]
WantedBy=multi-user.target

